.tab_item {
  display: none;
}

.is-active-item {
  display: block;
}

/**************/
/*ここから下を追加*/
/**************/

/* aタグをブロック要素にする。文字色は親クラスと同様に、下線は消す */
a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.tab_btn {
  font-size: 30px;
  padding: 30px;
  width = 70px;
  display: inline-block; /* ボタンを横並びに。flexboxなどでも可 */
  opacity: 0.5;  /* 非アクティブなボタンは半透明にする */
  border-radius: 50px 10px 0 0;
  background-color: #E0F2F7;
}


.tab_item {
  width: auto;
  height: auto;
  padding: auto;
}
